*.exe
*.obj
base/trash/*.cpp
base/trash/*.hpp
.trae/
base/DEVLOG.md
base/*.bat
study/**/*.bat
.vscode/
base/obj/
base/KF.lib
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.vcxproj
*.vcxproj.filters
**/Release/
